header {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
nav{
    
}
#nerm{
    background-color: #D9D9D9;
    height: 120px;
    width: 100%;
    border-radius: 0px 0px 10px 10px ;
}
#title_box{
    height: 60px;
    width: 1706.390px;
    background-color: #6FD5B4;
    text-align: center;
    margin: 0px 0px 0px 100px;
    border-radius: 0 0 20px 20px;

}
#links{
    float: right;
    list-style: none;
    text-align: justify;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
}
#links img{
    height: 40px;
    width: auto;
    position: ;
}

#links:hover li {
    color: black;
    animation: move;
    position: relative;
    rotate: 90;
  }
  
@keyframes move {
    from {
        top: 0px;
    }
    
    to{
        top: 80px;
    }
  }
}