header {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

#nerm{
    background-color: #D9D9D9;
    height: 120px;
    width: 100%;
    border-radius: 0px 0px 10px 10px ;
}
#title_box{
    height: 60px;
    width: 1706.390px;
    background-color: #6FD5B4;
    text-align: center;
    margin: 0px 0px 0px 100px;
    border-radius: 0 0 20px 20px;

}
#links{
    float: right;
    list-style: none;
    text-align: justify;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
    height: 0;
    background-color: bisque;
    position: relative;
    transform: translateX(-150px);
    
}
#links ul {
    display: none; /* Hide the menu initially */
    position: absolute;
    top: 50px; /* Adjust positioning */
    left: 0;
    background-color: #6FD5B4;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}

#links li{
    position: relative;
    padding: 10px;
    cursor: pointer;
}
#links img{
    height: 40px;
    width: auto;
    transform: translatex(-0px);
    position: absolute;
    margin-left: 20px;
    
}

#links:hover {
    background-color: black;
    color: white;
  }
  
#links li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6FD5B4;
    padding: 10px;
    border-radius: 10px ;
    z-index: 10;
    width: 100px;
}

#links:hover ul {
    display: block; /* Show menu on hover */
    width: auto;
    list-style: none;
    transform: translateY(-10px);

}

#links li:hover {
    background-color: #4CAF50; /* Change color on hover */
    
}
