header {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* head*/
nav{
    background-color: #6FD5B4;
    height: 120px;
    width: 100%;
    border-radius: 0px 0px 10px 10px ;
}
#titleBox{
    height: 60px;
    width: 1706.390px;
    background-color: #d9d9d9;
    text-align: center;
    margin: 0px 90px 90px 90px;
    border-radius: 05px 5px 20px 20px;
}
#titleBox.img{
    width: 600px;
    height: 60px;
    
}
#yeet{
    margin: 0 125px 0 125px;
    width: 1455px;
    height: inherit;
}
#yeet li {
    list-style: none;
    float: left;
    margin:0 11.5% 0 11.5% ;
}

.button_H {
    transition-duration: 0.4s;
    float: left;
    color: #FFFFFF;
    background-color: #d9d9d9;
    width: 148px;
    height: 38px;
    font-family: "Jersey 20", sans-serif;
    font-size: 27px;    
    border-radius: 20px 20px 20px 20px;   
    
  }
  
.button_H:hover {
      
    background-color: #04AA6D; /* Green */
    color: white;
}
/*body */
#Body{
    width: 83.3333%;
    height: auto;
    background-color: #9FBEEC;
    border-radius: 20px;
    margin:0 156.76px 0 156.76px ;
}

#p2_main{
    text-align: center;
}



/* footer*/
footer{
    margin-top: 1080px;
    float: left ;
    width:100%;
    background-color: #d9d9d9;
    border-radius: 20px 20px 0 0 ;
}
footer li{
    list-style: none;
    float: left;
    
}
footer img{
    width: 50px;
    height: 50px;
}
#footer_link{
    margin: 0 100px 0 100px;
    width: 100% ;
    height: inherit;
}
#footer_link li {
    list-style: none;
    float: right;
    margin:0 10% 0 10% ;
}
.button_F {
    transition-duration: 0.4s;
    float: left;
    color: #FFFFFF;
    background-color: #d9d9d9;
    width: 148px;
    height: 38px;
    font-family: "Jersey 20", sans-serif;
    font-size: 27px;    
    border-radius: 20px 20px 20px 20px;   
    
  }
  
.button_F:hover {
      
    background-color: #04AA6D; /* Green */
    color: white;
    }